@import 'bootstrap/dist/css/bootstrap';

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}
.no-left-padding {
  padding-left: 0 !important;
}
.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

/* #################### Navbar #################### */
/*
.navbar-brand {
    font-size: 1.25rem !important;
}
*/

.logout-button {
  margin-right: 100px;
}
.user-name{
  margin-top: 3.5%;
  padding-right: 5px;
}

/* #################### Application layout #################### */
.stock-tracking-body{
  background: url(asset_path('devise/nick-chong-unsplash.jpg')) no-repeat center center fixed;
  background-size: cover;
}


/* #################### Sessions/Devise #################### */
#session-brackground {
  background: url(asset_path('devise/jeffrey-blum-unsplash.jpg')) no-repeat center center fixed;
  background-size: cover;
}
