<div class="row">
  <div class="col-md-12 text-center mt-3">
    <p><kbd>By &copy;<%= link_to "Filipe Zeferino", "https://zeferino.herokuapp.com/", class: "text-white", target: :_blank %></kbd></p>
  </div>
</div>